.ingredient-card {
  align-items: center;
  background-color: #4f4f58;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.151);
  display: flex;
  flex-direction: column;
  height: 12em;
  margin: 0.5em;
  margin-bottom: 1em;
  text-align: center;
  transition: 0.2s;
  width: 11em;
}

.igredient-image {
  background: linear-gradient(80deg, rgba(209, 199, 199, 0.774), rgba(213, 217, 219, 0.829));
  border-radius: 5px 5px 0 0;
  height: 70%;
  top: 0;
  width: 100%;
}

.igredient-image img {
  width: 70%;
}

.igredient-name {
  color: white;
  margin: auto;
}

.igredient-name h3 {
  font-weight: 200;
  text-transform: uppercase;
}

.ingredient-card:hover {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.575);
  transform: scale(0.98);
  transition: 0.2s;
}
